# Web interface
streamlit
streamlit_chat
pandas
plotly

# Audio recording and handling
sounddevice
scipy
numpy

# Speech-to-text (Whisper)
openai-whisper

# Utility
python-dotenv
groq
typing_extensions  # Needed for Python < 3.10
